@model ContactsViewModel
@{
    ViewData["Title"] = "Users";
    var usersListWithoutCurrentUser = Model.PaginatedContactsList.Items.Where(x => x.ID != Model.CurrentChatUser.ID);
    var currentUserId = Model.CurrentChatUser.ID;
}
<div class="text-center">
    <h1>Users</h1>
    <div>
        @if (usersListWithoutCurrentUser.Count() > 0)
        {
            @foreach (var user in usersListWithoutCurrentUser)
            {
                <div>
                    <button onclick="openChatWithNewUser( '@user.ID' )">
                        <img src="~/img/chat-user/usericon.jpg" width="5%" height="5%" />
                        @user.LastName @user.FirstName
                    </button>
                </div>
            }
        }
    </div>

    <div id="pagination">
	    @for (int i = 1; i <= Model.PaginatedContactsList.TotalPages; i++)
	    {
	    	<button><a href="#" onclick="getPage(@i); return false;">@i</a></button>
	    }
	</div>

    <button onclick="window.location.href='/Chat/'">Back</button>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function getPage(pageNumber) {
        window.location.href = `/users/all?pagenumber=${pageNumber}&pagesize=${@Model.PaginatedContactsList.PageSize}`;
    }

    function openChatWithNewUser(userId){
        window.location.href = "/Chat?newContact=" + userId;
    } 
</script>