html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.chatter-bg {
    background-image: url('../img/bg/chatter-logo.png');
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
  position: relative;
  min-height: 100%;
}

.contact-btn {
    background-color: aliceblue;
    border: 1px solid black;
    width: 100%;
    transition: all 0.5s ease;
}

    .contact-btn:hover, .element:hover * {
        cursor: pointer;
        background-color: dimgray;
        color: white;
    }


.chat-message-time {
    float:right;
}
.chat-message-intr > * {
    color: white;
}
.chat-message-you {
    background-color: gainsboro;
    align-self: flex-end;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
}

.chat-message-intr {
    background-color: dodgerblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    align-self: flex-start;
    width: 300px;
}
.chatter-logo-center {
    background-image: url('../img/bg/chatter-logo.png');
    background-position: center;
    opacity: 1;
    background-repeat: no-repeat;
    background-attachment: local;
}

.chat-message-list {
    height: 84%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-left: 7px;
    padding: 15px;
    margin-top: auto;
}

.all-users-list {
    width: 100%;
    justify-content: center;
}


.pagination {
    justify-content: center;
}


    .pagination button {
        border-radius: 50%;
        background-color: royalblue;
        width: 30px;
        height: 30px;
        text-align: center;
        color: white;
        font-weight: bold;
        margin: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }

.pagination button:hover {
    background-color:blue; 
}