@model SignInModel
@{
    ViewData["Title"] = "Sign In";
}
<div class="chatter-bg">
    <div class="d-flex justify-content-between container"
    style="height: 90vh;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div class="card" style="height: 140px; justify-content: center;">
                <h1>Welcome to Chatter!</h1>

                <div>Simple messenger for communication between students and teachers around the world!</div>
            </div>
        </div>

        <div style= "display: flex; justify-content: center; align-items: center;">
            <div style="width: 400px">
                <h2>Sign In</h2>
                <form class="form-group" type="submit" asp-action="SignIn">
                    <div style="margin-bottom: 10px;">
                        <label>User Tag or Email</label>
                        <div>
                            <input class="form-control" id="loginField" asp-for="EmailOrUserTag" type="text" placeholder="User Tag or Email" autocomplete="off" />
                        </div>
                        <small class="text-danger" id="loginFieldErrorMessage"></small>
            
                    </div>
                    <div style="margin-bottom: 10px;">
                        <label>Password</label>
                        <div>
                            <input class="form-control" id="passwordField" asp-for="Password" type="password" placeholder="Password" />
                        </div>
                        <small class="text-danger" id="passwordFieldErrorMessage"></small>
                    </div>
           
                    @if (Model != null && Model.WrongCreds)
                    {
                        <div style="margin-bottom: 10px;">
                            <small class="text-danger">Wrong login or password.</small>
                        </div>
                    }
          
                    <div style ="margin-bottom: 20px;">
                        <button class="btn btn-primary" type="submit">Sign In</button>
                    </div>
                
                </form>
                <div class="d-flex justify-content-between">
                    <div>
                        New on Chatter?
                    </div>
                    <button class="btn btn-primary" onclick="window.location.href='/signUp'">Sign Up</button></div>
                </div>
        </div>
    </div>
</div>

<script src="~/js/signinvalidation.js"></script>