@model SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}
<div style="display: flex; justify-content: center;">
    <div class="container" style="width: 400px">
        <h1>Sign up</h1>
        <small>* - required field</small>
        <form type="submit" id="registrationForm" asp-action="SignIn">
            <div style="margin-bottom: 10px;">
                <label for="UserTag">User Tag</label>
                <div>
                    <input class="form-control" id="userTagField" asp-for="UserTag" type="text" placeholder="User Tag" autocomplete="off" />
                </div>
               <div>
                    <small class="text-danger" id="userTagFieldError"></small>
               </div>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="Email">Email*</label>
                <div>
                    <input class="form-control"  id="emailField" asp-for="Email" type="text" placeholder="Email" autocomplete="off"/>
                </div>
                <div>
                    <small class="text-danger" id="emailFieldError"></small>
                </div>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="LastName">Last name*</label>
                <div>
                    <input class="form-control" id="lastNameField" asp-for="LastName" type="text" placeholder="Last name" autocomplete="off"/>
                </div>
                <div>
                    <small class="text-danger" id="lastNameFieldError"></small>
                </div>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="FirstName">First name*</label>
                <div>
                    <input class="form-control" id="firstNameField" asp-for="FirstName" type="text" placeholder="First name" autocomplete="off" />
                </div>
                <div>
                    <small class="text-danger" id="firstNameFieldError"></small>
                </div>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="Patronymic">Patronymic</label>
                <div>
                    <input class="form-control" id="patronymicField" asp-for="Patronymic" type="text" placeholder="Patronymic" autocomplete="off" />
                </div>
                <div>
                    <small class="text-danger" id="patronymicFieldError"></small>
                </div>
            </div>

        
            <div style="margin-bottom: 10px;">
                <label for="UniversityName">University name</label>
                <div>
                    <input class="form-control" id="universityNameField" asp-for="UniversityName" type="text" placeholder="Patronymic" autocomplete="off" />
                </div>
                <div>
                    <small class="text-danger" id="universityNameFieldError"></small>
                </div>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="UniversityFaculty">University faculty</label>
                <div>
                    <input class="form-control" id="universityFacultyField" asp-for="UniversityFaculty" type="text" placeholder="Patronymic" autocomplete="off"/>
                </div>
                <div>
                    <small class="text-danger" id="universityFacultyFieldError"></small>
                </div>
            </div>

            <div style="margin-bottom: 10px;">
                <label for ="Password">Password*</label>
                <div>
                    <input class="form-control" id="passwordField" asp-for="Password" type="password" placeholder="Password" />
                </div>
                <div>
                    <small class="text-danger" id="passwordFieldError"></small>
                </div>
            </div>

            <div style="margin-bottom: 10px;">
                <label for="ConfirmPassword">Confirm password*</label>
                <div>
                    <input class="form-control" id="confirmPasswordField" asp-for="ConfirmPassword" type="password" placeholder="Confirm password" />
                </div>
                <div>
                    <small class="text-danger" id="confirmPasswordFieldError"></small>
                </div>
            </div>
            <div style="display: flex; justify-content: center;">
                <button class="btn btn-primary" id="registerButton" asp-controller="Account" asp-action="signUp" type="submit">
                Sign Up</button>
                <button class="btn btn-default" onclick="window.location.href='/'">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script src="~/js/registrationvalidation.js"></script>