<h1>Sign Up</h1>

<form [formGroup]="registrationForm" (ngSubmit)="registrationForm.valid && register()" autocomplete="off">
    <div *ngIf="userAlreadyRegitered === true">User with specified User tag or Email already registered.</div>
    <div>
        <a>User tag</a>
        <div>
            <input formControlName="userTag"
            [(ngModel)]='model.userTag'
            type="text"
            placeholder="User tag"/>
        </div>

        <div *ngIf="userTag.invalid && userTag.touched" class="validation-error invalid-feedback"> 
            <small *ngFor="let error of userTag.errors | keyvalue">
                {{ validationOptions.userTagErrorMessages[error?.key?.toString() ?? ''] }}
              </small>
        </div>

        <a>Email</a>
        <div>
            <input formControlName="email"
            [(ngModel)]="model.email"
            type="text"
            placeholder="Email">
        </div>

        <div *ngIf="email.invalid && email.touched" class="validation-error invalid-feedback"> 
            <small *ngFor="let error of email.errors | keyvalue">
                {{ validationOptions.emailErrorMessages[error?.key?.toString() ?? ''] }}
              </small>
        </div>

        <a>Univerity name</a>
        <div>
            <input formControlName="universityName"
            [(ngModel)]="model.universityName"
            type="text"
            placeholder="University name">
        </div>

        <div *ngIf="universityName.invalid && universityName.touched" class="validation-error invalid-feedback"> 
            <small *ngFor="let error of universityName.errors | keyvalue">
                {{ validationOptions.universityNameErrorMessages[error?.key?.toString() ?? ''] }}
              </small>
        </div>

        <a>Univerity faculty</a>
        <div>
            <input formControlName="universityFaculty"
            [(ngModel)]="model.universityFaculty"
            type="text"
            placeholder="University faculty">
        </div>

        <div *ngIf="universityFaculty.invalid && universityFaculty.touched" class="validation-error invalid-feedback"> 
            <small *ngFor="let error of universityFaculty.errors | keyvalue">
                {{ validationOptions.universityFacultyErrorMessages[error?.key?.toString() ?? ''] }}
              </small>
        </div>
    </div>

    <div>
        <a>Last name</a>
        <div>
            <input formControlName="lastName"
            [(ngModel)]="model.lastName"
            type="text"
            placeholder="Last Name">
        </div>

        <div *ngIf="lastName.invalid && lastName.touched" class="validation-error invalid-feedback"> 
            <small *ngFor="let error of lastName.errors | keyvalue">
                {{ validationOptions.lastNameErrorMessages[error?.key?.toString() ?? ''] }}
              </small>
        </div>

        <a>First name</a>
        <div>
            <input formControlName="firstName"
            [(ngModel)]="model.firstName"
            type="text"
            placeholder="First Name">
        </div>

        <div *ngIf="firstName.invalid && firstName.touched" class="validation-error invalid-feedback"> 
            <small *ngFor="let error of firstName.errors | keyvalue">
                {{ validationOptions.firstNameErrorMessages[error?.key?.toString() ?? ''] }}
              </small>
        </div>

        <a>Patronymic</a>
        <div>
            <input formControlName="patronymic"
            [(ngModel)]="model.patronymic"
            type="text"
            placeholder="Patronymic">
        </div>

        <div *ngIf="patronymic.invalid && patronymic.touched" class="validation-error invalid-feedback"> 
            <small *ngFor="let error of patronymic.errors | keyvalue">
                {{ validationOptions.patronymicErrorMessages[error?.key?.toString() ?? ''] }}
              </small>
        </div>

        <a>Password</a>
        <div>
            <input formControlName="password"
            [(ngModel)]="model.password"
            type="password"
            placeholder="Password">
        </div>

        <div *ngIf="password.invalid && password.touched" class="validation-error invalid-feedback"> 
            <small *ngFor="let error of password.errors | keyvalue">
                {{ validationOptions.passwordErrorMessages[error?.key?.toString() ?? ''] }}
              </small>
        </div>

        <a>Confirm password</a>
        <div>
            <input formControlName="confirmPassword"
            [(ngModel)]="model.confirmPassword"
            type="password"
            placeholder="Confirm password">
        </div>

        <div *ngIf="confirmPassword.invalid && confirmPassword.touched" class="validation-error invalid-feedback"> 
            <small *ngFor="let error of confirmPassword.errors | keyvalue">
                {{ validationOptions.confirmPasswordErrorMessages[error?.key?.toString() ?? ''] }}
              </small>
        </div>
    </div>
    <div>
        <button type="submit" [disabled]='!registrationForm.valid'>Sign Up</button>
        <button routerLink="/">Cancel</button>
    </div>
</form>
    
